.post {
  text-align: center;
  width: 200px;
  &__title {
    cursor: default;
  }
  &__content {
    cursor: default;
    overflow: hidden;
    padding: 1em;
    height: 120px;
    background: white;
    border: 1px solid black;
  }
  &__button {
    margin-top: 0.5rem;
    width: 100%;
  }
}
