// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@use "sass:color";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FrontAngularTest-primary: mat.define-palette(mat.$indigo-palette);
$FrontAngularTest-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$FrontAngularTest-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FrontAngularTest-theme: mat.define-light-theme(
  (
    color: (
      primary: $FrontAngularTest-primary,
      accent: $FrontAngularTest-accent,
      warn: $FrontAngularTest-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FrontAngularTest-theme);

/* You can add global styles to this file, and also import other style files */

// ngMaterial styles
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
// --------------------
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
h1 {
  font-size: 2rem;
}
h2 {
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  margin-bottom: 0;
}

$primary: hsl(217, 76%, 92%);
$primary-border: color.adjust($primary, $lightness: -16%);
$secondary: color.adjust($primary, $hue: 120);
$secondary-border: color.adjust($secondary, $lightness: -16%);

.button {
  box-sizing: border-box;
  width: 100px;
  height: 2rem;
  // adjust-color();
  border-radius: 0.25rem;
  &:hover {
    cursor: pointer;
  }
}

.button_primary {
  background-color: $primary;
  border: 1px solid $primary-border;
  &:hover {
    border: 1px solid color.adjust($primary-border, $lightness: 5%);
    background-color: color.adjust($primary, $lightness: 5%);
  }
  &:active {
    border: 1px solid color.adjust($primary-border, $lightness: -12%);
    background-color: color.adjust($primary, $lightness: -12%);
  }
}
.button_secondary {
  background-color: $secondary;
  border: 1px solid $secondary-border;
  &:hover {
    border: 1px solid color.adjust($secondary-border, $lightness: 5%);
    background-color: color.adjust($secondary, $lightness: 5%);
  }
  &:active {
    border: 1px solid color.adjust($secondary-border, $lightness: -12%);
    background-color: color.adjust($secondary, $lightness: -12%);
  }
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-panel > .mat-dialog-container {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}
